doctype html 
html 
    head 
        title Our services 
    body 
        nav 
            a(href="http://localhost:3000/Home") home 
            a(href="http://localhost:3000/services") services 
            a(href="http://localhost:3000/contact")  contact 
        h1 Contact page 
         