doctype html 
html 
    head 
        title homePage
        style 
            include index.css 
    body 

        nav 
            a(href="http://localhost:3000/Home") home 
            a(href="http://localhost:3000/services") services 
            a(href="http://localhost:3000/contact")  contact 
        

        